// Generic Colours
$immo-white: #FFF;
$immo-dark-grey: #E6E6E6;
$immo-light-grey: #F4F5F9;

// Branding Colours
$immo-base-font-colour: #212529;
$immo-navigation-header: $immo-light-grey;

// Buttons
$immo-btn-submit-border: #EFCB36;
$immo-btn-submit-primary: #F6E153;
$immo-btn-submit-secondary: #EAC731;

// Tables
$immo-tr-border: #9F9FA6;
$immo-thead-border-bottom: #CACACF;

// Accessibility
$immo-required-colour: #8B0000;