$immo-base-font-size: 0.8rem;

$medium-font-size: $immo-base-font-size*1.1;
$large-font-size: $immo-base-font-size*1.2;
$xlarge-font-size: $immo-base-font-size*1.3;
$xxlarge-font-size: $immo-base-font-size*1.5;

$font-awesome-font-family: 'FontAwesome';